@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}


.car-container {
  position: fixed;
  top: 0px; /* Position below the notepad top bar */
  right: 3px;
  width: 100%;
  z-index: 4; /* Ensure it's above other elements */
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.driving-car {
  width: 100px;
  height: 75px;
  transition: transform 0.1s linear;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .car-container {
    top: 50px;
  }
  
  .driving-car {
    width: 60px;
    height: 40px;
  }
}

h1, p, button {
  position: relative;
  z-index: 1;
}

/* Notepad styling */
.notepad {
  width: 100%;
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
}






.top {
  width: 99.2%;
  height: 75px;
  background: #333;
  border-radius: 5px 5px 0 0;
  position: fixed;
  z-index: 1; /* Ensures top bar stays above the notepad content */
}

/* The paper area */
.paper {
  width: 100%;
  flex-grow: 1; /* Allow paper to take up remaining space */
  padding: 35px 20px;
  font-family: "Shadows Into Light", cursive;
  line-height: 32px;
  font-size: 22px;
  outline: 0;
  min-height: 60vh;
  word-wrap: break-word;
  overflow-y: auto; /* Allow scrolling if the content exceeds the paper area */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .driving-car {
    width: 150px;
    height: 100px; /* Adjust the height on smaller screens */
  }



  .paper {
    font-size: 18px; /* Adjust font size */
  }
}
.logo {
  position: fixed;
  top: 10px;
  left: -10px;
  width: 175px;
  height: 70px;
  z-index: 4;
}


@media screen and (max-width: 768px) {
  .logo {
    width: 175px;
    top: 10px;
    left: -12px;
  }

  .top {
    width: 97%;
  }
}
